.container.testimonials__container{
    width: 58%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12%;
    /* margin-bottom: -7rem !important; */
    /* justify-content: center; */
}
.testimonials__blogs,.testimonials__hobby{
    background: linear-gradient(
        90deg,transparent,var(--color-primary),transparent
    );
    height: 2rem;
}
.testimonials__text1{
    margin-left:7rem;
}
.testimonials__text{
    margin-left:12rem;
}
.testimonials__blogs a{
color: beige !important;
}
.testimonials{
    margin-bottom: -20rem;;
}